.box {
  width: 600px;
  height: 500px;
  text-align: center;
  background-color: white;
  margin: 7em auto;
  border-radius: 10px;
  color: black;
  box-shadow: 5px 3px 2px #772e25;
}

.header {
  background-color: #f27059;
  padding: 20px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  color: #edf2f4;
}

.inputData {
  width: 150px;
  height: 10px;
  background-color: #f79d65;
  text-align: center;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: medium;
  margin: 1.5em auto;
  outline: none;
}

.btn {
  font-size: medium;
  position: relative;
  right: 30px;
  color: black;
  background-color: #f79d65;
  border: none;
  outline: none;
}
.btn:hover {
  font-size: medium;
  position: relative;
  right: 30px;
  background-color: #f79d65;
  color: beige;
  border: none;
}
h4 {
  font-weight: normal;
  text-align: center;
}
.para1 {
  margin: 1em;
}
.icon-img {
  width: auto;
  height: auto;
  margin: 5px auto;
  padding: 10px;
}
.mid-section {
  display: inline-block;
  margin: 1em 1em;
}
.para2 {
  font-size: 13px;
  margin-bottom: 0;
}
h1 {
  color: #f79d65;
  margin-top: 0;
  font-size: 40px;
}

hr {
  width: 30em;
  position: fixed;
  bottom: 9em;
  margin-left: 3.5em;
}
.para3 {
  position: fixed;
  bottom: 6.8em;
  margin-left: 13em;
}
